body{background-color: #3E5C76;}

title{font-family: "Open Sans", sans-serif;}
h1{font-family: "Open Sans", sans-serif;}
h4{ font-family: "Open Sans", sans-serif; }
p{ font-family: "Open Sans", sans-serif; 
	font-size: 20px}
ul{font-family: "Open Sans", sans-serif;}




